.App {
  text-align: center;
  align-content: center;
}

.header {
  text-transform: uppercase;
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
  color: rgba(54, 47, 47, 0.795);
  text-align: center;
  border-bottom: 2px solid gray;
  letter-spacing: 20px;
  font-weight: bold;
  padding: 20px;
  

}

.container {
  display: flex;
}

.container .left, .container .right {
  width: 50%;
}
.container .right {
  margin: 85px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  background-color: rgb(81, 187, 178);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

input:hover {
  background-color: rgb(197, 238, 214);
}

h1 {
  text-transform: uppercase;
  font-family: 'Josefin Slab', serif;
  font-size: 3em;
  color: rgba(54, 47, 47, 0.795);
  letter-spacing: 6px;
}

h5 {
  font-family: monospace;
  font-size: 1em;
  color: rgba(54, 47, 47, 0.795);
  letter-spacing: 2px;
}

.budgetContainer {
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}

form {
  text-align: center;
  border: solid gray;
  padding: 10px;
  
}

.formContainer {
  margin-top: 70px;
  margin-right: 50px;
}

.totals {
  color: rgba(54, 47, 47, 0.795);
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 26px;
  margin-top: 10vh;
  letter-spacing: 6px;
  padding: 20px;
  

}

/* accordion */

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

h2 {
  color: rgba(54, 47, 47, 0.795);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  margin-top: 10vh;
  letter-spacing: 10px;
}

.accordion-container {
  
  min-width: 500px;
  margin: 5vh auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -2px 1px 2px 2px #212121;
}

.accordion-container div {
  border-bottom: 3px solid;
  border-color: #999999;
  transition: border-color 0.5s ease-in;
}

.answer, .summary {
  display: inline-block;
}


.summary {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 25px;
  padding: 15px;
}

.summary:before {
  content: '>\0000a0';
}

.folding-pannel {
  display: block;
  transition: all 0.2s ease-in;
  line-height: 60px;
  border-top: 2px solid #dddddd;
}

.active .summary {
  border-color: transparent;
  transition: border-color 0.2s ease-out;
}

.inactive .folding-pannel {
  transform-origin: 50% 0%;
  transform: perspective(250px) rotateX(-90deg);
  transition: all 0.4s ease-in-out;
  height: 0;
}

.active .folding-pannel {
  transform: perspective(400px) rotateX(0deg);
  transition: all 0.4s ease-in-out;
  height: 300px;
  line-height: 50px;
  text-indent: 10px
  
}

.Accordion-box {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.answer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.stat {
  display: flex;
  flex-wrap: wrap;
}

.buttonbox {
  display: flex;
  justify-content: center;
}

a {
  align-self: center;
}

button {
  border-radius: 12px;
  padding: 14px 40px;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  
}
button:hover {
  background-color: rgb(197, 238, 214);
  color: white;
}



@media (max-width: 1000px) {
  .container { 
    flex-direction: column-reverse;
    }
  .budgetContainer {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  h1{
    font-size: 2em;
  }
  form {
    justify-content: center;
  }

  .container .right, .container .left {
    width: 100%;
    margin: 20px;
  }
  
  
}